In [2]:
import pandas as pd

In [6]:
drgi = pd.read_excel('/home/is/mostatika-a/Research/All_Data_And_Results.xlsx',sheet_name='Drug_Gene_Data' )
IBD = pd.read_excel('/home/is/mostatika-a/Research/All_Data_And_Results.xlsx',sheet_name='IBD Gene_2849' )

In [7]:
IBD

           Gene
0     LINC00484
1       RPSAP35
2      TAB2-AS1
3     LINC02128
4         DUPD1
...         ...
2843       ZFAT
2844     ZNF266
2845     ZNF649
2846     ZNF678
2847     ZNF815

[2848 rows x 1 columns]

In [8]:
df = pd.merge(drgi, IBD, on='Gene')
df

Empty DataFrame
Columns: [Gene, Drug]
Index: []